@import './keyframes.styl';

#image-slider 
  overflow hidden
  position relative
  width 800px
  
  img.responsive 
    width 100%
    height auto

  .content-container 
      height 100%
      left 0
      padding 30px
      position absolute
      top 0
      width 100%

  .slideInRight 
    animation slideInRight 2s
    animation-iteration-count infinite

  .slideInDown 
    animation slideInDown 2s
    animation-iteration-count infinite

  .slideInUp 
    animation slideInUp 2s
    animation-iteration-count 2